.footer {
    @include box-flex(center, center, row);
    width: 100%;
    height: 60px;
    background-color: $orange;

    &__logo {
        @include box-flex(flex-start, center, row);

        .footer__circle1,
        .footer__circle2,
        .footer__circle3 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .footer__circle1 {
            background-color: $brown;
        }

        .footer__circle2 {
            background-color: $darkorange;
        }

        .footer__circle3 {
            background-color: $darkyellow;
        }

        .footer__name {
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 100%;
            padding: 15px 5px;
            color: $white;
        }
    }
}