.footer {
    @include box-flex(center, center, row);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 60px;
    background-color: $orange;

    .footer__name {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 100%;
        padding: 15px 20px 15px 0;
        color: $white;
    }

    .footer__logo {
        @include box-flex(flex-start, stretch, row);
        // display: flex;

        .footer__circle1,
        .footer__circle2,
        .footer__circle3 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .footer__circle1 {
            background-color: $brown;
        }

        .footer__circle2 {
            background-color: $darkorange;
        }

        .footer__circle3 {
            background-color: $darkyellow;
        }
    }
}