@mixin box-flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

/* default:
justify-content: flex-start;
align-items: stretch;
flex-direction: row; */

@mixin sections($section-width) {
    display: flex;
    flex-direction: column;
    width: $section-width;
    height: 100%;
    background-color: $yellow;
    margin: 0 auto;
}

@mixin section-title($font-size, $letter-spacing) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
    color: $brown;
    width: 80%;
    margin: 50px auto 30px;
    word-wrap: break-word;
}

@mixin section-before($section-before-height) {
    content: "";
    display: block;
    height: $section-before-height;
    width: 100%;
    margin: 0 auto;
    background-color: $yellow;
}

@mixin phone {
    @media (min-width: #{ $phone-width }) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{ $tablet-width }) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{ $laptop-width }) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{ $desktop-width }) {
        @content;
    }
}