.motto {
    @include sections(100%);
    flex-wrap: wrap;

    @include laptop {
        @include sections(75%);
    }

    &::before {
        @include section-before(30px);

        @include laptop {
            @include section-before(60px);
        }
    }

    &__title {
        @include section-title(45px, 10px);

        @include laptop {
            @include section-title(60px, 20px);
        }
    }

    &__quotation {
        width: 80%;
        margin: 0 auto;

        .motto__text,
        .motto__author {
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 14px;
            letter-spacing: 7px;
            line-height: 150%;
            color: $brown;

            @include laptop {
                font-size: 20px;
                letter-spacing: 10px;
            }
        }

        .motto__text {
            font-style: italic;
            text-align: left;
        }

        .motto__author {
            font-style: normal;
            text-align: right;
            padding-top: 30px;
        }
    }
}