$white: rgb(255, 255, 255);
$yellow: rgb(242, 169, 80);
$darkyellow: rgb(242, 138, 46);
$orange: rgb(242, 103, 22);
$darkorange: rgb(230, 80, 0);
$brown: rgb(166, 65, 28);
$darkbrown: rgb(80, 30, 0);

$breakpoint-phone: 688px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1312px;

// $breakpoint-phone: 576px;
// $breakpoint-tablet: 768px;
// $breakpoint-laptop: 992px;
// $breakpoint-desktop: 1200px;