$white: rgb(255, 255, 255);
$yellow: rgb(242, 169, 80);
$darkyellow: rgb(242, 138, 46);
$orange: rgb(242, 103, 22);
$darkorange: rgb(230, 80, 0);
$brown: rgb(166, 65, 28);
$darkbrown: rgb(80, 30, 0);

$phone-width: 414px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1366px;